
 /*link*/
 #ad {
border: 3px solid 	#524d7a;
border-radius: 5px;
background-color: ;
}
/*Welcome*/
  #ae {
border: 3px solid  	#524d7a;
border-radius: 5px;
background-color:  	#524d7a;
}
/*Viewrofile*/
  #bb{
background-color: 	#524d7a;
    }
/*Footer*/
#a{
	color: white;
	background-color: black;
 }
/*I-top*/
    #ac {
border: 3px solid #397d27;
border-radius: 5px;
}

